@import url(https://fonts.googleapis.com/css?family=Poppins);

.apple-pie {
    background-image: url("../images/apple-pie.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.apple-pie h1 {
    color: white;
    text-align: center;
    font-family: 'Poppins';
    padding-top: 300px;
}
.sections {
    margin: 0px 100px;
    font-family: 'Poppins';
    background-size: cover;
}

.img1 {
    padding-left: 300px;
    border: 0px;
    margin:0px;
    background-size: cover;
}

.img2 {
    padding-left: 300px;
    border: 0px;
    margin:0px;
    background-size: cover;
}